@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}
body {
  background-image: linear-gradient(
      to right,
      rgba(0, 83, 8, 0.12) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 83, 8, 0.12) 1px, transparent 1px);
  background-size: 23px 23px; /* Adjust the size of each grid cell */
  background-color: #020202; /* Set the background color */
}
.App {
}
